doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Parcel
  body
    div.container
        div.item.item-1
        div.item.item-2
        div.item.item-3
        div.item.item-4
        div.item.item-5
        div.item.item-6


    script(src='./index.js')
