doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Parcel
    link(rel="stylesheet", href="styles/main.scss")
  body
    - var i= [1,2,3,4,5,6]
    div.container
      each val in i
            div(class="item item-" + val)  
    

    script(src='./index.ts')
